// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center
{
	margin-top:20%;
	text-align:center;
	color: #FFF;
	background:rgba(34,38,57,0.8);
}
#bg{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: white;
}
.hidden{
	display:none;
}
.show{
	display:block;
}
.box{
	padding-left:10%;
	padding-right:10%;
}
.feedBG{
	color:black;
	text-align:left;
	background:#FFF;
}
.entryBG{
	background:#FFF;
	padding:10%;
}
#feed{
	padding-left:2%;
	img{
		max-height:440px
	}
}	
.entriesBG{
	background:white;
}
.margin10{
	margin-left:10%
}
